.card img {
	object-fit: contain;
}
.alert_success {
    border-top: 4px solid rgba(56,178,172);
    background-color: rgba(230,255,250);
    color: rgba(35,78,82);
    
}
.badge-primary {
    background-color: rgb(255, 141, 2);
    padding: 4px 8px;
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    border-radius: .25rem;
}
h1 {
    word-wrap: break-word;
    overflow-x: hidden;
}
.review-card {
    flex-direction: column;
}